/* media */
body {
    font-size: 18px;
}

@media print {
    body {
	background-color: white;
    }
}

@media screen and (max-width: 50em) {
    body {
	background-color: salmon;
    }
}

@media screen and (min-width: 50em) {
    body {
	background-color: lightblue;
    }
}


/* relative units */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 90%;
}


/* absolute units */
img {
    width: 200px;
}

video {
    width: 2.5in;
}

audio {
    width: 6cm;
}

/* box model */
div.minutes {
    margin: 2cm;
    margin-right: 3cm;
    border: 5px solid red;
    border-radius: 10px;
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
}

div.nextmeeting {
    /* center in a 60% box */
    margin: auto;
    width: 60%;
}

div.preparedby {
    /* center in a smaller box */
    margin: auto;
    width: 60%;
    max-width: 500px;
}

/* text decoration */
div.minutes h4 {
    text-decoration: underline;
}


/* display */
.hide {
    display: none;
}

div.media {
    display: inline-block;
    padding: 1em;
}

/* position */
img#logo {
    position: sticky;
    top: 40px;
    float: right;
    height: 70px;
    width: 200px;
    padding-right: 1em;
}

div.media video {
    position: absolute;
    top: 500px;
    left: 700px;
}

/* font */
h3 {
    font-family: 'Bruno Ace SC', cursive;
}

p {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* pseudo class */
h4:hover {
    color: red;
}

/* selector */
* {
    color: black;
}

img ~ audio {
    padding-left: 5em;
}

xodiv > ul {
    font-weight: bold;
}

div > h3 {
    font-size: 1.5em;
}

/* flexbox */
section.flexcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section.flexcontainer div {
    width: 30%;
}

section.gridcontainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-flow: row;
}

section.gridcontainer div {
    padding: 1em;
}

div.griditem-a {
    grid-column: 1;
    grid-row: 1 / 3;
}

div.griditem-c {
    grid-column: 3;
    grid-row: 1 / 3;
}

