body {
    /* set background of the page */
    background-color: lightblue;
}

/* relative units */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 80%;
}


/* absolute units */
img {
    width: 200px;
}

video {
    width: 2.5in;
}

audio {
    width: 6cm;
}

/* box model */
div.minutes {
    margin: 2cm;
    margin-right: 3cm;
    border: 5px solid red;
    border-radius: 10px;
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
}

div.minutes h4 {
    text-decoration: underline;
}

